.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: rgb(90, 90, 90);
    font-weight: bold;
    text-align: center;
}

.navbar-brand {
    font-size: 25px !important;
    font-weight: bold;
    color: orange !important;
}

.nav-item {
    font-weight: bold;
}

nav .navbar-nav li a:hover {
    color: red !important;
}

@media (min-width: 800px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}